body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #1B120F;
}

.white-section {
  background-color: #fff;
}

/* Headings */
.big-heading {
  font-size: 5vw;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  border-radius: 0%;
  transform: rotate(20deg);
  right: 30%;
  padding-top: 7%;
}

@media (max-width: 992px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title .container-fluid{
    text-align: center;
  }
}

/* Navigation Bar */

.navbar-logo {
  width: 80%;
  padding-bottom: 7%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
  color: #1B120F;
}

/* Download Buttons */
.download-button {
  background-color: #FFEBC1;
  border-color: black;
  font-weight: 700;
}


/* Features */
#features {
  position: relative;
}

.feature-heading {
  font-size: 1.5rem;
}

.feature-box {

}

.features-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 75px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.dog-type {
  font-size: 1.5rem;
  margin-top: 10px;
}

.price {
  font-size: 3rem;
  margin-top: 10px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */
.social-media {
  margin: 0 9px;
  color: black;
}

.social-media:hover {
  color: #8f8f8f
}

.copyright {
  margin-top: 20px;
}
